@import TaskState._

@*
  Экземпляр задачи, которую нужно отредактировать, передаётся отдельно, а не по id. Это сделано для того, чтобы
  обращение к БД и поиск конкретного элемента взял на себя вызывающий код, а не шаблон
*@
@(tasksMatrix: List[List[Task]], editableTask: Option[Task] = None)(implicit request: MessagesRequestHeader,
                                                                             assetsFinder: AssetsFinder)

@actionUrl = @{
  editableTask match {
    case Some(task) => helper.CSRF(routes.HomeController.updateTask(task.id))
    case None => helper.CSRF(routes.HomeController.createTask())
  }
}

@main("Simple bug tracker", assetsFinder) {
  <div class="pure-g main-wrapper">
    <div class="pure-u-1 pure-u-xl-1-4 l-box m-l-auto">
      <div class="card">
        <h1>@if(editableTask.isEmpty){ Создать задачу } else { Редактировать задачу }</h1>

        <form class="pure-form"
        action="@actionUrl"
        method="post"
        >
          <label>
            Название: <input class="w-100" name="title" type="text" value="@{editableTask.map(_.title)}" required/>
          </label>

          <div class="pure-g">
            <div class="pure-u-2-3 pure-form-stacked">
              <label>
                Описание:
                <textarea class="pure-input-1" name="description" rows="5">@{editableTask.map(_.description)}</textarea>
              </label>
            </div>
            <div class="pure-u-1-3 pure-form-stacked">
              <div class="state-wrapper">
                <label>Состояние:</label>
                <div class="states-block">
                  <label>
                    <input name="state"
                    type="radio"
                    value="TODO"
                      @{ if (editableTask.forall(_.state == TODO)) "checked" }
                    >
                    TODO
                  </label>
                  <label>
                    <input name="state"
                    type="radio"
                    value="In Progress"
                      @{ if (editableTask.exists(_.state == IN_PROGRESS)) "checked" }
                    >
                    In Progress
                  </label>
                  <label>
                    <input name="state"
                    type="radio"
                    value="Done"
                      @{ if (editableTask.exists(_.state == DONE)) "checked" }
                    >
                    Done
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="centered">
            <button class="pure-button pure-button-primary" type="submit">Сохранить</button>
            @editableTask.map { task =>
              <a href="@routes.HomeController.deleteTask(task.id)" class="button-delete pure-button">Удалить</a>
              <a href="@routes.HomeController.index()" class="pure-button">Отмена</a>
            }
          </div>
        </form>
      </div>
    </div>

    <div class="pure-u-1 pure-u-xl-1-3 l-box m-r-auto">
      <div class="pure-g">
        <div class="pure-u-3-4">
          <h1>Список задач</h1>
        </div>
        <div class="pure-u-1-4 search-button">
          <a href="@routes.SearchController.search()" class="pure-button pure-button-primary">
            Поиск по задачам
          </a>
        </div>
      </div>
      <table class="pure-table pure-table-bordered tasks-table">
        <thead>
          <tr>
          @for(state <- TaskState.values) {
            <th>@state.toString</th>
          }
          </tr>
        </thead>

        @tasksMatrix.map { tasksRow =>
          <tr>
            @tasksRow.map { task =>
              <td>
                @if(task != null) {
                  <a href="@routes.HomeController.index(Some(task.id))">
                  @task.title
                  </a>
                }
              </td>
            }
          </tr>
        }
      </table>
    </div>
  </div>
}
