@(tasksMatrix: List[List[Task]], form: Form[TaskForm.Data])(implicit id: Option[Int])

@main("Simple bug tracker") {

  <div class="wrapper">

    <div id="sidebar">
      <div class="card">
        <h2>Создать задачу</h2>
        <form id="createTask">
          <label>
            Название: <input class="title" type="text"/>
          </label>

          <br>
          <br>

          <div class="left-info">
            <label>
              Описание:
              <br>
              <textarea rows="10" cols="50"></textarea>
            </label>
          </div>
          <div class="right-info">
            <p>Состояние:</p>
            <p><label><input name="state" type="radio" value="TODO" checked>TODO</label></p>
            <p><label><input name="state" type="radio" value="inProgress">In Progress</label></p>
            <p><label><input name="state" type="radio" value="done">Done</label></p>
          </div>

          <br>
          <br>

          <p><input type="submit" value="Отправить"/></p>
        </form>
      </div>

      <div class="card">
        <h2>Редактировать задачу</h2>



        <form id="editTask">
          <label>
            Название:
            <input class="title" type="text" disabled/>
          </label>

          <br>
          <br>

          <div class="left-info">
            <label>
              Описание:
              <br>
              <textarea rows="10" cols="50" disabled></textarea>
            </label>
          </div>
          <div class="right-info">
            <p>Состояние:</p>
            <p><label><input name="state" type="radio" value="TODO" disabled>TODO</label></p>
            <p><label><input name="state" type="radio" value="inProgress" disabled>In Progress</label></p>
            <p><label><input name="state" type="radio" value="done" disabled>Done</label></p>
          </div>

          <br>
          <br>

          <p><input type="submit" value="Отправить" disabled/></p>
        </form>

        <br>
        <p><a href="/">Перейти к полнотекстовому поиску по задачам</a></p>
      </div>
    </div>

    <div id="content">
      <table id="bugsTable">
        @{import TaskState._}
        <caption><h1>СПИСОК ЗАДАЧ</h1></caption>
        <tr>
          @for(state <- TaskState.values) {
            <th>@TaskState.toStr(state)</th>
          }
        </tr>

        @for(tasksRow <- tasksMatrix) {
          <tr>
            @for(task <- tasksRow) {
              <td>
                @if(task != null) {
                  <a href="@routes.Application.index(Some(task.id))">
                  @task.title
                  </a>
                }
              </td>
            }
          </tr>
        }
      </table>
    </div>

  </div>

}
