@import org.apache.lucene.document.Document
@(searchResults: Option[Array[Document]] = None, searchQuery: String = "")(implicit assetsFinder: AssetsFinder)

@main("Simple bug tracker - search", assetsFinder) {
  <div class="search-wrapper l-box">
    <a href="@routes.HomeController.index()" class="pure-button">Назад</a>
    <h1>Полнотекстовый поиск по описаниям задач</h1>
    <form action="@routes.SearchController.search()" method="get" class="pure-form">
      <label>Поиск по описанию задачи:
        <input type="text" name="query" required/>
        <button class="pure-button pure-button-primary" type="submit">Найти</button>
      </label>
    </form>
    <br>
    @searchResults.map { results =>
      <h2>Результаты поиска</h2>
      <p><b>Запрос:</b> @searchQuery</p>
      @if(results.isEmpty) {
        <p>По Вашему запросу ничего не найдено.</p>
      } else {
        <p><b>Найдено задач:</b> @results.length</p>
        <table class="pure-table pure-table-bordered tasks-table">
          <thead>
            <tr>
              <th>Заголовок</th>
              <th>Описание</th>
              <th>Состояние</th>
            </tr>
          </thead>
          @for(doc <- results) {
            <tr>
              <td><a href="@routes.HomeController.index(Some(doc.get("id").toInt))">@doc.get("title")</a></td>
              <td>@doc.get("description")</td>
              <td>@doc.get("state")</td>
            </tr>
          }
        </table>
      }
    }
  </div>
}